# Node dependencies
node_modules/

# Environment files
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# Ignore any file or folder containing 'dump' in its name (case-insensitive)
*[dD][uU][mM][pP]*