*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

form {
    height: max-content;
    width: 410px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(117, 114, 114, 0.1);
    padding: 50px 35px;
}
